@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../Image/bg-pattern-top.svg"), url("../Image/bg-pattern-bottom.svg");
  background-position: top bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -10%, 115%;
  background-position-y: 40%, -45%;
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}
.card-container {
  display: grid;
  width: 320px;
  height: 320px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.upper-container {
  height: 120px;
  background: url("../Image/bg-pattern-card.svg");
}

.lower-container {
  height: 280px;
  background: #fff;
  padding-top: 30px;
}

.lower-container .upper-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower-container .upper-text-container p {
  padding: 10px;
  font-size: 12px;
  color: hsl(227, 10%, 46%);
}
hr {
  border: 0;
  border-top: 1px solid gray;
  opacity: 0.15;
  margin: 10px;
}
h4 {
  font-size: 18px;
}

.lower-container .upper-text-container .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.lower-container .upper-text-container .user-info h3 {
  padding-right: 10px;
}
.lower-container .upper-text-container .user-info span {
  color: hsl(227, 10%, 46%);
}

.lower-container .lower-text-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lower-container .lower-text-container .text h4 {
  font-size: 14px;
  padding: 11px;
}
.lower-container .lower-text-container .text p {
  color: hsl(227, 10%, 46%);
  font-size: 11px;
  padding-left: 2px;
  font-weight: 800;
}

.image {
  height: 80px;
  width: 80px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  left: 80%;
  transform: translate(110px, 70px);
}

.image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
